In [275]:
import os
import requests
from datetime import datetime

from tqdm import tqdm_notebook as tqdm

import pandas as pd
pd.set_option('display.max_rows', 100)
import numpy as np

DATA_DIR = os.path.join(os.getcwd(), 'data')

In [272]:
df_fails = pd.read_csv(os.path.join(DATA_DIR, 'df_failed_stats.csv'))
df_fails.shape

(2900, 2)

In [273]:
df_fails.head()

     error    game_id
0  No Data  213352483
1  No Data  213352509
2  No Data  223412390
3  No Data  223412426
4  No Data  213352653

In [274]:
df_rankings = pd.read_csv(os.path.join(DATA_DIR, 'df_rankings.csv'))
print(df_rankings.shape)
df_rankings.head()

(21276, 6)

   year  week       poll  rank          school conference
0  2000     1  AP Top 25    17         Clemson        ACC
1  2000     1  AP Top 25    25  Michigan State    Big Ten
2  2000     1  AP Top 25    21        Illinois    Big Ten
3  2000     1  AP Top 25     4       Wisconsin    Big Ten
4  2000     1  AP Top 25     6        Michigan    Big Ten

In [283]:
df_stats = pd.read_csv(os.path.join(DATA_DIR, 'df_stats.csv'))
print(df_stats.shape)
df_stats.head()

(12595, 39)

,away_completionAttempts,away_firstDowns,away_fourthDownEff,away_fumblesLost,away_fumblesRecovered,away_interceptions,away_kickingPoints,away_netPassingYards,away_passingTDs,away_possessionTime,away_rushingAttempts,away_rushingTDs,away_rushingYards,away_thirdDownEff,away_totalPenaltiesYards,away_totalYards,away_turnovers,away_yardsPerPass,away_yardsPerRushAttempt,game_id,home_completionAttempts,home_firstDowns,home_fourthDownEff,home_fumblesLost,home_fumblesRecovered,home_interceptions,home_kickingPoints,home_netPassingYards,home_passingTDs,home_possessionTime,home_rushingAttempts,home_rushingTDs,home_rushingYards,home_thirdDownEff,home_totalPenaltiesYards,home_totalYards,home_turnovers,home_yardsPerPass,home_yardsPerRushAttempt
0,11-19,18.0,0-0,0.0,1.0,0.0,8.0,122.0,2.0,30:00,41.0,1.0,199.0,4-11,5-40,321.0,0.0,6.4,4.9,322732032,24-41,23.0,1-3,1.0,0.0,1.0,7.0,208.0,1.0,29:06,39.0,0.0,127.0,7-18,8-67,335.0,2.0,5.1,3.3
1,12-32,7.0,1-3,3.0,2.0,2.0,0.0,93.0,0.0,20:30,36.0,0.0,74.0,0-18,7-35,140.0,5.0,2.1,2.1,302612483,9-20,24.0,2-3,2.0,3.0,1.0,15.0,140.0,4.0,16:10,63.0,5.0,528.0,8-16,7-50,668.0,3.0,7.0,8.4
2,23-30,26.0,1-1,2.0,4.0,1.0,6.0,249.0,2.0,23:34,54.0,3.0,186.0,5-15,0-0,421.0,3.0,7.8,3.4,243040265,17-40,11.0,1-1,4.0,2.0,1.0,0.0,195.0,1.0,13:05,25.0,0.0,-9.0,5-18,0-0,156.0,5.0,4.1,-0.4
3,7-14,9.0,0-0,1.0,0.0,1.0,NaN,78.0,0.0,16:11,35.0,0.0,49.0,3-13,0-0,104.0,2.0,3.9,1.4,243040276,19-35,21.0,2-3,0.0,1.0,1.0,8.0,167.0,1.0,20:12,42.0,0.0,176.0,5-16,0-0,331.0,1.0,4.4,4.2
4,16-29,17.0,1-3,2.0,0.0,2.0,NaN,261.0,0.0,18:23,39.0,0.0,121.0,8-16,0-0,356.0,4.0,8.1,3.1,243040278,15-23,23.0,0-0,0.0,2.0,0.0,6.0,203.0,3.0,17:25,41.0,3.0,269.0,7-11,0-0,465.0,0.0,8.5,6.6

In [284]:
set(df_stats['away_totalPenaltiesYards'])

{'0-0',
 '1-0',
 '1-1',
 '1-10',
 '1-11',
 '1-12',
 '1-13',
 '1-14',
 '1-15',
 '1-2',
 '1-3',
 '1-4',
 '1-5',
 '1-6',
 '1-7',
 '1-8',
 '1-9',
 '10-100',
 '10-101',
 '10-102',
 '10-103',
 '10-104',
 '10-105',
 '10-106',
 '10-107',
 '10-108',
 '10-109',
 '10-110',
 '10-111',
 '10-112',
 '10-113',
 '10-114',
 '10-115',
 '10-117',
 '10-118',
 '10-120',
 '10-122',
 '10-123',
 '10-124',
 '10-125',
 '10-130',
 '10-136',
 '10-142',
 '10-39',
 '10-48',
 '10-52',
 '10-53',
 '10-54',
 '10-55',
 '10-56',
 '10-57',
 '10-58',
 '10-59',
 '10-60',
 '10-61',
 '10-62',
 '10-63',
 '10-64',
 '10-65',
 '10-66',
 '10-67',
 '10-68',
 '10-69',
 '10-70',
 '10-71',
 '10-72',
 '10-73',
 '10-74',
 '10-75',
 '10-76',
 '10-77',
 '10-78',
 '10-79',
 '10-80',
 '10-81',
 '10-82',
 '10-83',
 '10-84',
 '10-85',
 '10-86',
 '10-87',
 '10-88',
 '10-89',
 '10-90',
 '10-91',
 '10-92',
 '10-93',
 '10-94',
 '10-95',
 '10-96',
 '10-97',
 '10-98',
 '10-99',
 '11-100',
 '11-101',
 '11-102',
 '11-103',
 '11-104',
 '11-105',
 '11-106',
 '11-107',
 '11-108',
 '11-109',
 '11-110',
 '11-111',
 '11-112',
 '11-113',
 '11-114',
 '11-115',
 '11-116',
 '11-117',
 '11-118',
 '11-119',
 '11-120',
 '11-124',
 '11-125',
 '11-127',
 '11-128',
 '11-132',
 '11-134',
 '11-136',
 '11-157',
 '11-56',
 '11-58',
 '11-59',
 '11-60',
 '11-61',
 '11-62',
 '11-63',
 '11-64',
 '11-65',
 '11-66',
 '11-67',
 '11-68',
 '11-69',
 '11-70',
 '11-71',
 '11-72',
 '11-73',
 '11-74',
 '11-75',
 '11-76',
 '11-77',
 '11-78',
 '11-79',
 '11-80',
 '11-81',
 '11-82',
 '11-83',
 '11-84',
 '11-85',
 '11-86',
 '11-87',
 '11-88',
 '11-89',
 '11-90',
 '11-91',
 '11-92',
 '11-93',
 '11-94',
 '11-95',
 '11-96',
 '11-97',
 '11-98',
 '11-99',
 '12-100',
 '12-101',
 '12-102',
 '12-103',
 '12-104',
 '12-105',
 '12-106',
 '12-107',
 '12-108',
 '12-109',
 '12-110',
 '12-112',
 '12-113',
 '12-114',
 '12-115',
 '12-116',
 '12-117',
 '12-118',
 '12-119',
 '12-120',
 '12-121',
 '12-122',
 '12-123',
 '12-124',
 '12-125',
 '12-126',
 '12-127',
 '12-128',
 '12-130',
 '12-133',
 '12-136',
 '12-138',
 '12-139',
 '12-140',
 '12-143',
 '12-145',
 '12-148',
 '12-59',
 '12-61',
 '12-65',
 '12-66',
 '12-67',
 '12-69',
 '12-73',
 '12-74',
 '12-75',
 '12-78',
 '12-79',
 '12-80',
 '12-81',
 '12-82',
 '12-83',
 '12-84',
 '12-85',
 '12-86',
 '12-87',
 '12-89',
 '12-90',
 '12-91',
 '12-92',
 '12-93',
 '12-94',
 '12-95',
 '12-96',
 '12-97',
 '12-98',
 '12-99',
 '13-100',
 '13-102',
 '13-103',
 '13-105',
 '13-106',
 '13-107',
 '13-108',
 '13-109',
 '13-110',
 '13-111',
 '13-112',
 '13-113',
 '13-114',
 '13-115',
 '13-116',
 '13-117',
 '13-118',
 '13-119',
 '13-120',
 '13-121',
 '13-122',
 '13-124',
 '13-126',
 '13-128',
 '13-130',
 '13-132',
 '13-134',
 '13-136',
 '13-138',
 '13-139',
 '13-140',
 '13-143',
 '13-145',
 '13-155',
 '13-171',
 '13-69',
 '13-70',
 '13-72',
 '13-73',
 '13-75',
 '13-76',
 '13-79',
 '13-80',
 '13-81',
 '13-82',
 '13-84',
 '13-88',
 '13-90',
 '13-92',
 '13-93',
 '13-95',
 '13-96',
 '13-97',
 '13-98',
 '13-99',
 '14-100',
 '14-102',
 '14-103',
 '14-105',
 '14-107',
 '14-108',
 '14-109',
 '14-110',
 '14-113',
 '14-114',
 '14-115',
 '14-118',
 '14-120',
 '14-121',
 '14-124',
 '14-125',
 '14-126',
 '14-127',
 '14-128',
 '14-129',
 '14-130',
 '14-132',
 '14-134',
 '14-135',
 '14-138',
 '14-139',
 '14-141',
 '14-142',
 '14-149',
 '14-152',
 '14-163',
 '14-172',
 '14-174',
 '14-76',
 '14-93',
 '14-95',
 '14-97',
 '14-98',
 '14-99',
 '15-106',
 '15-108',
 '15-114',
 '15-116',
 '15-117',
 '15-118',
 '15-119',
 '15-120',
 '15-123',
 '15-124',
 '15-125',
 '15-129',
 '15-130',
 '15-131',
 '15-133',
 '15-135',
 '15-137',
 '15-138',
 '15-140',
 '15-142',
 '15-143',
 '15-145',
 '15-147',
 '15-150',
 '15-152',
 '15-167',
 '15-172',
 '15-91',
 '15-95',
 '15-96',
 '15-98',
 '16-105',
 '16-110',
 '16-111',
 '16-113',
 '16-120',
 '16-121',
 '16-122',
 '16-124',
 '16-127',
 '16-128',
 '16-131',
 '16-132',
 '16-135',
 '16-139',
 '16-141',
 '16-144',
 '16-145',
 '16-150',
 '16-154',
 '16-158',
 '16-159',
 '16-161',
 '16-164',
 '16-183',
 '17-132',
 '17-137',
 '17-142',
 '17-154',
 '17-156',
 '17-167',
 '18-125',
 '18-129',
 '18-134',
 '18-157',
 '18-215',
 '19-148',
 '19-165',
 '19-170',
 '19-177',
 '2-0',
 '2-10',
 '2-11',
 '2-12',
 '2-13',
 '2-14',
 '2-15',
 '2-16',
 '2-17',
 '2-18',
 '2-19',
 '2-20',
 '2-21',
 '2-22',
 '2-23',
 '2-24',
 '2-25',
 '2-26',
 '2-28',
 '2-29',
 '2-3',
 '2-30',
 '2-31',
 '2-32',
 '2-4',
 '2-5',
 '2-51',
 '2-6',
 '2-7',
 '2-8',
 '2-9',
 '20-139',
 '20-140',
 '20-188',
 '23-194',
 '3-10',
 '3-11',
 '3-12',
 '3-13',
 '3-14',
 '3-15',
 '3-16',
 '3-17',
 '3-18',
 '3-19',
 '3-20',
 '3-21',
 '3-22',
 '3-23',
 '3-24',
 '3-25',
 '3-26',
 '3-27',
 '3-28',
 '3-29',
 '3-30',
 '3-31',
 '3-32',
 '3-33',
 '3-34',
 '3-35',
 '3-36',
 '3-37',
 '3-38',
 '3-39',
 '3-40',
 '3-41',
 '3-42',
 '3-43',
 '3-44',
 '3-45',
 '3-46',
 '3-50',
 '3-9',
 '4-10',
 '4-12',
 '4-14',
 '4-15',
 '4-16',
 '4-17',
 '4-18',
 '4-19',
 '4-20',
 '4-21',
 '4-22',
 '4-23',
 '4-24',
 '4-25',
 '4-26',
 '4-27',
 '4-28',
 '4-29',
 '4-30',
 '4-31',
 '4-32',
 '4-33',
 '4-34',
 '4-35',
 '4-36',
 '4-37',
 '4-38',
 '4-39',
 '4-40',
 '4-41',
 '4-42',
 '4-43',
 '4-44',
 '4-45',
 '4-46',
 '4-47',
 '4-48',
 '4-49',
 '4-50',
 '4-51',
 '4-53',
 '4-54',
 '4-55',
 '4-57',
 '4-58',
 '4-59',
 '4-60',
 '4-65',
 '5-16',
 '5-17',
 '5-19',
 '5-20',
 '5-21',
 '5-22',
 '5-23',
 '5-24',
 '5-25',
 '5-26',
 '5-27',
 '5-28',
 '5-29',
 '5-30',
 '5-31',
 '5-32',
 '5-33',
 '5-34',
 '5-35',
 '5-36',
 '5-37',
 '5-38',
 '5-39',
 '5-40',
 '5-41',
 '5-42',
 '5-43',
 '5-44',
 '5-45',
 '5-46',
 '5-47',
 '5-48',
 '5-49',
 '5-50',
 '5-51',
 '5-52',
 '5-53',
 '5-54',
 '5-55',
 '5-56',
 '5-57',
 '5-58',
 '5-59',
 '5-60',
 '5-61',
 '5-62',
 '5-63',
 '5-64',
 '5-65',
 '5-66',
 '5-67',
 '5-68',
 '5-69',
 '5-70',
 '5-71',
 '5-74',
 '5-75',
 '5-79',
 '6-21',
 '6-23',
 '6-25',
 '6-26',
 '6-27',
 '6-28',
 '6-29',
 '6-30',
 '6-31',
 '6-32',
 '6-33',
 '6-34',
 '6-35',
 '6-36',
 '6-37',
 '6-38',
 '6-39',
 '6-40',
 '6-41',
 '6-42',
 '6-43',
 '6-44',
 '6-45',
 '6-46',
 '6-47',
 '6-48',
 '6-49',
 '6-50',
 '6-51',
 '6-52',
 '6-53',
 '6-54',
 '6-55',
 '6-56',
 '6-57',
 '6-58',
 '6-59',
 '6-60',
 '6-61',
 '6-62',
 '6-63',
 '6-64',
 '6-65',
 '6-66',
 '6-67',
 '6-68',
 '6-69',
 '6-70',
 '6-71',
 '6-72',
 '6-73',
 '6-74',
 '6-75',
 '6-76',
 '6-77',
 '6-78',
 '6-79',
 '6-80',
 '6-81',
 '6-83',
 '6-84',
 '6-85',
 '6-87',
 '7--4953',
 '7-20',
 '7-22',
 '7-25',
 '7-27',
 '7-28',
 '7-29',
 '7-30',
 '7-31',
 '7-33',
 '7-34',
 '7-35',
 '7-36',
 '7-37',
 '7-38',
 '7-39',
 '7-40',
 '7-41',
 '7-42',
 '7-43',
 '7-44',
 '7-45',
 '7-46',
 '7-47',
 '7-48',
 '7-49',
 '7-50',
 '7-51',
 '7-52',
 '7-53',
 '7-54',
 '7-55',
 '7-56',
 '7-57',
 '7-58',
 '7-59',
 '7-60',
 '7-61',
 '7-62',
 '7-63',
 '7-64',
 '7-65',
 '7-66',
 '7-67',
 '7-68',
 '7-69',
 '7-70',
 '7-71',
 '7-72',
 '7-73',
 '7-74',
 '7-75',
 '7-76',
 '7-77',
 '7-78',
 '7-79',
 '7-80',
 '7-81',
 '7-82',
 '7-83',
 '7-84',
 '7-85',
 '7-86',
 '7-87',
 '7-88',
 '7-89',
 '7-90',
 '7-91',
 '7-92',
 '7-93',
 '7-94',
 '7-95',
 '7-99',
 '8-100',
 '8-101',
 '8-102',
 '8-103',
 '8-105',
 '8-108',
 '8-109',
 '8-110',
 '8-115',
 '8-141',
 '8-29',
 '8-34',
 '8-35',
 '8-36',
 '8-37',
 '8-38',
 '8-39',
 '8-40',
 '8-41',
 '8-42',
 '8-43',
 '8-44',
 '8-45',
 '8-46',
 '8-47',
 '8-48',
 '8-49',
 '8-50',
 '8-51',
 '8-52',
 '8-53',
 '8-54',
 '8-55',
 '8-56',
 '8-57',
 '8-58',
 '8-59',
 '8-60',
 '8-61',
 '8-62',
 '8-63',
 '8-64',
 '8-65',
 '8-66',
 '8-67',
 '8-68',
 '8-69',
 '8-70',
 '8-71',
 '8-72',
 '8-73',
 '8-74',
 '8-75',
 '8-76',
 '8-77',
 '8-78',
 '8-79',
 '8-80',
 '8-81',
 '8-82',
 '8-83',
 '8-84',
 '8-85',
 '8-86',
 '8-87',
 '8-88',
 '8-89',
 '8-90',
 '8-91',
 '8-92',
 '8-93',
 '8-94',
 '8-95',
 '8-96',
 '8-97',
 '8-98',
 '8-99',
 '9-100',
 '9-101',
 '9-102',
 '9-103',
 '9-104',
 '9-105',
 '9-108',
 '9-110',
 '9-112',
 '9-113',
 '9-114',
 '9-115',
 '9-126',
 '9-37',
 '9-40',
 '9-41',
 '9-42',
 '9-43',
 '9-44',
 '9-45',
 '9-46',
 '9-48',
 '9-49',
 '9-50',
 '9-51',
 '9-52',
 '9-53',
 '9-54',
 '9-55',
 '9-56',
 '9-57',
 '9-58',
 '9-59',
 '9-60',
 '9-61',
 '9-62',
 '9-63',
 '9-64',
 '9-65',
 '9-66',
 '9-67',
 '9-68',
 '9-69',
 '9-70',
 '9-71',
 '9-72',
 '9-73',
 '9-74',
 '9-75',
 '9-76',
 '9-77',
 '9-78',
 '9-79',
 '9-80',
 '9-81',
 '9-82',
 '9-83',
 '9-84',
 '9-85',
 '9-86',
 '9-87',
 '9-88',
 '9-89',
 '9-90',
 '9-91',
 '9-92',
 '9-93',
 '9-94',
 '9-95',
 '9-96',
 '9-97',
 '9-98',
 '9-99',
 nan}

In [277]:
for home_away in ['home', 'away']:
    for col in ['completionAttempts']:
        df_stats[home_away + '_passCompletions'] = df[col].apply(lambda pca: pca.split('-')[0] if isinstance(pca, str) else pca)
        df_stats[home_]
        df_stats[]

away_completionAttempts     0.002064
away_firstDowns             0.002064
away_fourthDownEff          0.002064
away_fumblesLost            0.002064
away_fumblesRecovered       0.000556
away_interceptions          0.002064
away_kickingPoints          0.037872
away_netPassingYards        0.002064
away_passingTDs             0.005161
away_possessionTime         0.005081
away_rushingAttempts        0.002064
away_rushingTDs             0.002382
away_rushingYards           0.002064
away_thirdDownEff           0.002064
away_totalPenaltiesYards    0.002064
away_totalYards             0.002064
away_turnovers              0.002064
away_yardsPerPass           0.002064
away_yardsPerRushAttempt    0.002064
game_id                     0.000000
home_completionAttempts     0.001906
home_firstDowns             0.001906
home_fourthDownEff          0.001906
home_fumblesLost            0.001906
home_fumblesRecovered       0.000953
home_interceptions          0.001906
home_kickingPoints          0.013021
home_netPassingYards        0.001906
home_passingTDs             0.004605
home_possessionTime         0.003096
home_rushingAttempts        0.001906
home_rushingTDs             0.002223
home_rushingYards           0.001906
home_thirdDownEff           0.001906
home_totalPenaltiesYards    0.001906
home_totalYards             0.001906
home_turnovers              0.001906
home_yardsPerPass           0.001906
home_yardsPerRushAttempt    0.001906
dtype: float64

In [280]:
df_stats.dropna(axis=0).shape

(11885, 39)

In [281]:
df_games = pd.read_csv(os.path.join(DATA_DIR, 'df_games.csv'))
print(df_games.shape)
df_games.head()

(15495, 8)

,game_id,season,week,season_type,home_team,away_team,home_points,away_points
0,63068,2000,1,regular,Florida State,BYU,29.0,3.0
1,63069,2000,1,regular,Kansas State,Iowa,27.0,7.0
2,63070,2000,1,regular,Louisiana Tech,Mississippi Valley State,63.0,10.0
3,63071,2000,1,regular,Texas Tech,New Mexico,24.0,3.0
4,63072,2000,1,regular,USC,Penn State,29.0,5.0

In [282]:
df_rankings.head()

   year  week       poll  rank          school conference
0  2000     1  AP Top 25    17         Clemson        ACC
1  2000     1  AP Top 25    25  Michigan State    Big Ten
2  2000     1  AP Top 25    21        Illinois    Big Ten
3  2000     1  AP Top 25     4       Wisconsin    Big Ten
4  2000     1  AP Top 25     6        Michigan    Big Ten

In [ ]:
df_rankings['poll'] = df_ranking

In [269]:
set(df_fails['error'])

{'No Data'}

In [255]:
r = requests.get('https://api.collegefootballdata.com/rankings?year=2005')
r = r.json()

In [265]:
r[0]['polls'][0]

{'poll': 'Coaches Poll',
 'ranks': [{'rank': 22,
   'school': 'Michigan State',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 190},
  {'rank': 17,
   'school': 'Wisconsin',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 553},
  {'rank': 13,
   'school': 'Ohio State',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 742},
  {'rank': 25,
   'school': 'Minnesota',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 90},
  {'rank': 1,
   'school': 'USC',
   'conference': 'Pac-10',
   'firstPlaceVotes': 54,
   'points': 1540},
  {'rank': 9,
   'school': 'UCLA',
   'conference': 'Pac-10',
   'firstPlaceVotes': 0,
   'points': 1053},
  {'rank': 23,
   'school': 'California',
   'conference': 'Pac-10',
   'firstPlaceVotes': 0,
   'points': 175},
  {'rank': 16,
   'school': 'Oregon',
   'conference': 'Pac-10',
   'firstPlaceVotes': 0,
   'points': 588},
  {'rank': 20,
   'school': 'West Virginia',
   'conference': 'Big East',
   'firstPlaceVotes': 0,
   'points': 405},
  {'rank': 14,
   'school': 'Penn State',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 726},
  {'rank': 2,
   'school': 'Texas',
   'conference': 'Big 12',
   'firstPlaceVotes': 7,
   'points': 1492},
  {'rank': 8,
   'school': 'Texas Tech',
   'conference': 'Big 12',
   'firstPlaceVotes': 0,
   'points': 1079},
  {'rank': 21,
   'school': 'TCU',
   'conference': 'Mountain West',
   'firstPlaceVotes': 0,
   'points': 221},
  {'rank': 12,
   'school': 'Notre Dame',
   'conference': 'FBS Independents',
   'firstPlaceVotes': 0,
   'points': 846},
  {'rank': 4,
   'school': 'Georgia',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 1361},
  {'rank': 19,
   'school': 'Florida',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 450},
  {'rank': 18,
   'school': 'Tennessee',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 543},
  {'rank': 5,
   'school': 'Alabama',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 1255},
  {'rank': 15,
   'school': 'Auburn',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 655},
  {'rank': 7,
   'school': 'LSU',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 1154},
  {'rank': 10,
   'school': 'Florida State',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 934},
  {'rank': 11,
   'school': 'Boston College',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 859},
  {'rank': 3,
   'school': 'Virginia Tech',
   'conference': 'ACC',
   'firstPlaceVotes': 1,
   'points': 1428},
  {'rank': 6,
   'school': 'Miami',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 1218},
  {'rank': 24,
   'school': 'Virginia',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 120}]}

In [263]:
df_ranks = pd.DataFrame.from_records(r[0]['polls'][0]['ranks'])
df_ranks.head()

   rank          school conference  firstPlaceVotes  points
0    22  Michigan State    Big Ten                0     190
1    17       Wisconsin    Big Ten                0     553
2    13      Ohio State    Big Ten                0     742
3    25       Minnesota    Big Ten                0      90
4     1             USC     Pac-10               54    1540

In [264]:
df_all_ranks = []
for week_record in r.json():
    week = week_record['week']
    for poll in week_record['polls']:
        poll_name = poll['poll']
        df_ranks = pd.DataFrame.from_records(poll['ranks'])

{'season': 2005,
 'seasonType': 'regular',
 'week': 8,
 'polls': [{'poll': 'Coaches Poll',
   'ranks': [{'rank': 22,
     'school': 'Michigan State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 190},
    {'rank': 17,
     'school': 'Wisconsin',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 553},
    {'rank': 13,
     'school': 'Ohio State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 742},
    {'rank': 25,
     'school': 'Minnesota',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 90},
    {'rank': 1,
     'school': 'USC',
     'conference': 'Pac-10',
     'firstPlaceVotes': 54,
     'points': 1540},
    {'rank': 9,
     'school': 'UCLA',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 1053},
    {'rank': 23,
     'school': 'California',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 175},
    {'rank': 16,
     'school': 'Oregon',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 588},
    {'rank': 20,
     'school': 'West Virginia',
     'conference': 'Big East',
     'firstPlaceVotes': 0,
     'points': 405},
    {'rank': 14,
     'school': 'Penn State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 726},
    {'rank': 2,
     'school': 'Texas',
     'conference': 'Big 12',
     'firstPlaceVotes': 7,
     'points': 1492},
    {'rank': 8,
     'school': 'Texas Tech',
     'conference': 'Big 12',
     'firstPlaceVotes': 0,
     'points': 1079},
    {'rank': 21,
     'school': 'TCU',
     'conference': 'Mountain West',
     'firstPlaceVotes': 0,
     'points': 221},
    {'rank': 12,
     'school': 'Notre Dame',
     'conference': 'FBS Independents',
     'firstPlaceVotes': 0,
     'points': 846},
    {'rank': 4,
     'school': 'Georgia',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 1361},
    {'rank': 19,
     'school': 'Florida',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 450},
    {'rank': 18,
     'school': 'Tennessee',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 543},
    {'rank': 5,
     'school': 'Alabama',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 1255},
    {'rank': 15,
     'school': 'Auburn',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 655},
    {'rank': 7,
     'school': 'LSU',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 1154},
    {'rank': 10,
     'school': 'Florida State',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 934},
    {'rank': 11,
     'school': 'Boston College',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 859},
    {'rank': 3,
     'school': 'Virginia Tech',
     'conference': 'ACC',
     'firstPlaceVotes': 1,
     'points': 1428},
    {'rank': 6,
     'school': 'Miami',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 1218},
    {'rank': 24,
     'school': 'Virginia',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 120}]},
  {'poll': 'AP Top 25',
   'ranks': [{'rank': 22,
     'school': 'Michigan State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 19,
     'school': 'Wisconsin',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 14,
     'school': 'Ohio State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 1,
     'school': 'USC',
     'conference': 'Pac-10',
     'firstPlaceVotes': 57,
     'points': 0},
    {'rank': 8,
     'school': 'UCLA',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 25,
     'school': 'California',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 15,
     'school': 'Oregon',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 20,
     'school': 'West Virginia',
     'conference': 'Big East',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 12,
     'school': 'Penn State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 2,
     'school': 'Texas',
     'conference': 'Big 12',
     'firstPlaceVotes': 8,
     'points': 0},
    {'rank': 10,
     'school': 'Texas Tech',
     'conference': 'Big 12',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 24,
     'school': 'Fresno State',
     'conference': 'Western Athletic',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 21,
     'school': 'TCU',
     'conference': 'Mountain West',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 9,
     'school': 'Notre Dame',
     'conference': 'FBS Independents',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 4,
     'school': 'Georgia',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 18,
     'school': 'Florida',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 17,
     'school': 'Tennessee',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 5,
     'school': 'Alabama',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 16,
     'school': 'Auburn',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 7,
     'school': 'LSU',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 11,
     'school': 'Florida State',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 13,
     'school': 'Boston College',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 3,
     'school': 'Virginia Tech',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 6,
     'school': 'Miami',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 23,
     'school': 'Virginia',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0}]}]}

In [266]:
df_rankings = pd.read_csv(os.path.join(os.getcwd(), 'data', 'df_rankings.csv'))
df_rankings.head()

,conference,firstPlaceVotes,points,rank,school,poll,week,year
0,ACC,NaN,NaN,17,Clemson,AP Top 25,1,2000
1,Big Ten,NaN,NaN,25,Michigan State,AP Top 25,1,2000
2,Big Ten,NaN,NaN,21,Illinois,AP Top 25,1,2000
3,Big Ten,NaN,NaN,4,Wisconsin,AP Top 25,1,2000
4,Big Ten,NaN,NaN,6,Michigan,AP Top 25,1,2000