In [275]:
import os
import requests
from datetime import datetime

from tqdm import tqdm_notebook as tqdm

import pandas as pd
pd.set_option('display.max_rows', 100)
import numpy as np

DATA_DIR = os.path.join(os.getcwd(), 'data')

In [272]:
df_fails = pd.read_csv(os.path.join(DATA_DIR, 'df_failed_stats.csv'))
df_fails.shape

(2900, 2)

In [273]:
df_fails.head()

     error    game_id
0  No Data  213352483
1  No Data  213352509
2  No Data  223412390
3  No Data  223412426
4  No Data  213352653

In [274]:
df_rankings = pd.read_csv(os.path.join(DATA_DIR, 'df_rankings.csv'))
print(df_rankings.shape)
df_rankings.head()

(21276, 6)

   year  week       poll  rank          school conference
0  2000     1  AP Top 25    17         Clemson        ACC
1  2000     1  AP Top 25    25  Michigan State    Big Ten
2  2000     1  AP Top 25    21        Illinois    Big Ten
3  2000     1  AP Top 25     4       Wisconsin    Big Ten
4  2000     1  AP Top 25     6        Michigan    Big Ten

In [276]:
df_stats = pd.read_csv(os.path.join(DATA_DIR, 'df_stats.csv'))
print(df_stats.shape)
df_stats.head()

(12595, 39)

,away_completionAttempts,away_firstDowns,away_fourthDownEff,away_fumblesLost,away_fumblesRecovered,away_interceptions,away_kickingPoints,away_netPassingYards,away_passingTDs,away_possessionTime,away_rushingAttempts,away_rushingTDs,away_rushingYards,away_thirdDownEff,away_totalPenaltiesYards,away_totalYards,away_turnovers,away_yardsPerPass,away_yardsPerRushAttempt,game_id,home_completionAttempts,home_firstDowns,home_fourthDownEff,home_fumblesLost,home_fumblesRecovered,home_interceptions,home_kickingPoints,home_netPassingYards,home_passingTDs,home_possessionTime,home_rushingAttempts,home_rushingTDs,home_rushingYards,home_thirdDownEff,home_totalPenaltiesYards,home_totalYards,home_turnovers,home_yardsPerPass,home_yardsPerRushAttempt
0,11-19,18.0,0-0,0.0,1.0,0.0,8.0,122.0,2.0,30:00,41.0,1.0,199.0,4-11,5-40,321.0,0.0,6.4,4.9,322732032,24-41,23.0,1-3,1.0,0.0,1.0,7.0,208.0,1.0,29:06,39.0,0.0,127.0,7-18,8-67,335.0,2.0,5.1,3.3
1,12-32,7.0,1-3,3.0,2.0,2.0,0.0,93.0,0.0,20:30,36.0,0.0,74.0,0-18,7-35,140.0,5.0,2.1,2.1,302612483,9-20,24.0,2-3,2.0,3.0,1.0,15.0,140.0,4.0,16:10,63.0,5.0,528.0,8-16,7-50,668.0,3.0,7.0,8.4
2,23-30,26.0,1-1,2.0,4.0,1.0,6.0,249.0,2.0,23:34,54.0,3.0,186.0,5-15,0-0,421.0,3.0,7.8,3.4,243040265,17-40,11.0,1-1,4.0,2.0,1.0,0.0,195.0,1.0,13:05,25.0,0.0,-9.0,5-18,0-0,156.0,5.0,4.1,-0.4
3,7-14,9.0,0-0,1.0,0.0,1.0,NaN,78.0,0.0,16:11,35.0,0.0,49.0,3-13,0-0,104.0,2.0,3.9,1.4,243040276,19-35,21.0,2-3,0.0,1.0,1.0,8.0,167.0,1.0,20:12,42.0,0.0,176.0,5-16,0-0,331.0,1.0,4.4,4.2
4,16-29,17.0,1-3,2.0,0.0,2.0,NaN,261.0,0.0,18:23,39.0,0.0,121.0,8-16,0-0,356.0,4.0,8.1,3.1,243040278,15-23,23.0,0-0,0.0,2.0,0.0,6.0,203.0,3.0,17:25,41.0,3.0,269.0,7-11,0-0,465.0,0.0,8.5,6.6

In [277]:
for home_away in ['home', 'away']:
    for col in ['completionAttempts']:
        df_stats[home_away + '_passCompletions'] = df[col].apply(lambda pca: pca.split('-')[0] if isinstance(pca, str) else pca)
        df_stats[home_]
        df_stats[]

away_completionAttempts     0.002064
away_firstDowns             0.002064
away_fourthDownEff          0.002064
away_fumblesLost            0.002064
away_fumblesRecovered       0.000556
away_interceptions          0.002064
away_kickingPoints          0.037872
away_netPassingYards        0.002064
away_passingTDs             0.005161
away_possessionTime         0.005081
away_rushingAttempts        0.002064
away_rushingTDs             0.002382
away_rushingYards           0.002064
away_thirdDownEff           0.002064
away_totalPenaltiesYards    0.002064
away_totalYards             0.002064
away_turnovers              0.002064
away_yardsPerPass           0.002064
away_yardsPerRushAttempt    0.002064
game_id                     0.000000
home_completionAttempts     0.001906
home_firstDowns             0.001906
home_fourthDownEff          0.001906
home_fumblesLost            0.001906
home_fumblesRecovered       0.000953
home_interceptions          0.001906
home_kickingPoints          0.013021
home_netPassingYards        0.001906
home_passingTDs             0.004605
home_possessionTime         0.003096
home_rushingAttempts        0.001906
home_rushingTDs             0.002223
home_rushingYards           0.001906
home_thirdDownEff           0.001906
home_totalPenaltiesYards    0.001906
home_totalYards             0.001906
home_turnovers              0.001906
home_yardsPerPass           0.001906
home_yardsPerRushAttempt    0.001906
dtype: float64

In [280]:
df_stats.dropna(axis=0).shape

(11885, 39)

In [269]:
set(df_fails['error'])

{'No Data'}

In [255]:
r = requests.get('https://api.collegefootballdata.com/rankings?year=2005')
r = r.json()

In [265]:
r[0]['polls'][0]

{'poll': 'Coaches Poll',
 'ranks': [{'rank': 22,
   'school': 'Michigan State',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 190},
  {'rank': 17,
   'school': 'Wisconsin',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 553},
  {'rank': 13,
   'school': 'Ohio State',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 742},
  {'rank': 25,
   'school': 'Minnesota',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 90},
  {'rank': 1,
   'school': 'USC',
   'conference': 'Pac-10',
   'firstPlaceVotes': 54,
   'points': 1540},
  {'rank': 9,
   'school': 'UCLA',
   'conference': 'Pac-10',
   'firstPlaceVotes': 0,
   'points': 1053},
  {'rank': 23,
   'school': 'California',
   'conference': 'Pac-10',
   'firstPlaceVotes': 0,
   'points': 175},
  {'rank': 16,
   'school': 'Oregon',
   'conference': 'Pac-10',
   'firstPlaceVotes': 0,
   'points': 588},
  {'rank': 20,
   'school': 'West Virginia',
   'conference': 'Big East',
   'firstPlaceVotes': 0,
   'points': 405},
  {'rank': 14,
   'school': 'Penn State',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 726},
  {'rank': 2,
   'school': 'Texas',
   'conference': 'Big 12',
   'firstPlaceVotes': 7,
   'points': 1492},
  {'rank': 8,
   'school': 'Texas Tech',
   'conference': 'Big 12',
   'firstPlaceVotes': 0,
   'points': 1079},
  {'rank': 21,
   'school': 'TCU',
   'conference': 'Mountain West',
   'firstPlaceVotes': 0,
   'points': 221},
  {'rank': 12,
   'school': 'Notre Dame',
   'conference': 'FBS Independents',
   'firstPlaceVotes': 0,
   'points': 846},
  {'rank': 4,
   'school': 'Georgia',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 1361},
  {'rank': 19,
   'school': 'Florida',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 450},
  {'rank': 18,
   'school': 'Tennessee',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 543},
  {'rank': 5,
   'school': 'Alabama',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 1255},
  {'rank': 15,
   'school': 'Auburn',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 655},
  {'rank': 7,
   'school': 'LSU',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 1154},
  {'rank': 10,
   'school': 'Florida State',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 934},
  {'rank': 11,
   'school': 'Boston College',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 859},
  {'rank': 3,
   'school': 'Virginia Tech',
   'conference': 'ACC',
   'firstPlaceVotes': 1,
   'points': 1428},
  {'rank': 6,
   'school': 'Miami',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 1218},
  {'rank': 24,
   'school': 'Virginia',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 120}]}

In [263]:
df_ranks = pd.DataFrame.from_records(r[0]['polls'][0]['ranks'])
df_ranks.head()

   rank          school conference  firstPlaceVotes  points
0    22  Michigan State    Big Ten                0     190
1    17       Wisconsin    Big Ten                0     553
2    13      Ohio State    Big Ten                0     742
3    25       Minnesota    Big Ten                0      90
4     1             USC     Pac-10               54    1540

In [264]:
df_all_ranks = []
for week_record in r.json():
    week = week_record['week']
    for poll in week_record['polls']:
        poll_name = poll['poll']
        df_ranks = pd.DataFrame.from_records(poll['ranks'])

{'season': 2005,
 'seasonType': 'regular',
 'week': 8,
 'polls': [{'poll': 'Coaches Poll',
   'ranks': [{'rank': 22,
     'school': 'Michigan State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 190},
    {'rank': 17,
     'school': 'Wisconsin',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 553},
    {'rank': 13,
     'school': 'Ohio State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 742},
    {'rank': 25,
     'school': 'Minnesota',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 90},
    {'rank': 1,
     'school': 'USC',
     'conference': 'Pac-10',
     'firstPlaceVotes': 54,
     'points': 1540},
    {'rank': 9,
     'school': 'UCLA',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 1053},
    {'rank': 23,
     'school': 'California',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 175},
    {'rank': 16,
     'school': 'Oregon',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 588},
    {'rank': 20,
     'school': 'West Virginia',
     'conference': 'Big East',
     'firstPlaceVotes': 0,
     'points': 405},
    {'rank': 14,
     'school': 'Penn State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 726},
    {'rank': 2,
     'school': 'Texas',
     'conference': 'Big 12',
     'firstPlaceVotes': 7,
     'points': 1492},
    {'rank': 8,
     'school': 'Texas Tech',
     'conference': 'Big 12',
     'firstPlaceVotes': 0,
     'points': 1079},
    {'rank': 21,
     'school': 'TCU',
     'conference': 'Mountain West',
     'firstPlaceVotes': 0,
     'points': 221},
    {'rank': 12,
     'school': 'Notre Dame',
     'conference': 'FBS Independents',
     'firstPlaceVotes': 0,
     'points': 846},
    {'rank': 4,
     'school': 'Georgia',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 1361},
    {'rank': 19,
     'school': 'Florida',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 450},
    {'rank': 18,
     'school': 'Tennessee',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 543},
    {'rank': 5,
     'school': 'Alabama',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 1255},
    {'rank': 15,
     'school': 'Auburn',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 655},
    {'rank': 7,
     'school': 'LSU',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 1154},
    {'rank': 10,
     'school': 'Florida State',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 934},
    {'rank': 11,
     'school': 'Boston College',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 859},
    {'rank': 3,
     'school': 'Virginia Tech',
     'conference': 'ACC',
     'firstPlaceVotes': 1,
     'points': 1428},
    {'rank': 6,
     'school': 'Miami',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 1218},
    {'rank': 24,
     'school': 'Virginia',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 120}]},
  {'poll': 'AP Top 25',
   'ranks': [{'rank': 22,
     'school': 'Michigan State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 19,
     'school': 'Wisconsin',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 14,
     'school': 'Ohio State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 1,
     'school': 'USC',
     'conference': 'Pac-10',
     'firstPlaceVotes': 57,
     'points': 0},
    {'rank': 8,
     'school': 'UCLA',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 25,
     'school': 'California',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 15,
     'school': 'Oregon',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 20,
     'school': 'West Virginia',
     'conference': 'Big East',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 12,
     'school': 'Penn State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 2,
     'school': 'Texas',
     'conference': 'Big 12',
     'firstPlaceVotes': 8,
     'points': 0},
    {'rank': 10,
     'school': 'Texas Tech',
     'conference': 'Big 12',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 24,
     'school': 'Fresno State',
     'conference': 'Western Athletic',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 21,
     'school': 'TCU',
     'conference': 'Mountain West',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 9,
     'school': 'Notre Dame',
     'conference': 'FBS Independents',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 4,
     'school': 'Georgia',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 18,
     'school': 'Florida',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 17,
     'school': 'Tennessee',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 5,
     'school': 'Alabama',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 16,
     'school': 'Auburn',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 7,
     'school': 'LSU',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 11,
     'school': 'Florida State',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 13,
     'school': 'Boston College',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 3,
     'school': 'Virginia Tech',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 6,
     'school': 'Miami',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 23,
     'school': 'Virginia',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0}]}]}

In [266]:
df_rankings = pd.read_csv(os.path.join(os.getcwd(), 'data', 'df_rankings.csv'))
df_rankings.head()

,conference,firstPlaceVotes,points,rank,school,poll,week,year
0,ACC,NaN,NaN,17,Clemson,AP Top 25,1,2000
1,Big Ten,NaN,NaN,25,Michigan State,AP Top 25,1,2000
2,Big Ten,NaN,NaN,21,Illinois,AP Top 25,1,2000
3,Big Ten,NaN,NaN,4,Wisconsin,AP Top 25,1,2000
4,Big Ten,NaN,NaN,6,Michigan,AP Top 25,1,2000