In [253]:
import os
import requests
from datetime import datetime

from tqdm import tqdm_notebook as tqdm

import pandas as pd
pd.set_option('display.max_rows', 100)
import numpy as np

In [267]:
df_fails = pd.read_csv(os.path.join(DATA_DIR, 'df_failed_stats.csv'))
df_fails.shape

(2900, 2)

In [268]:
df_fails.head()

     error    game_id
0  No Data  213352483
1  No Data  213352509
2  No Data  223412390
3  No Data  223412426
4  No Data  213352653

In [269]:
set(df_fails['error'])

{'No Data'}

In [255]:
r = requests.get('https://api.collegefootballdata.com/rankings?year=2005')
r = r.json()

In [265]:
r[0]['polls'][0]

{'poll': 'Coaches Poll',
 'ranks': [{'rank': 22,
   'school': 'Michigan State',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 190},
  {'rank': 17,
   'school': 'Wisconsin',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 553},
  {'rank': 13,
   'school': 'Ohio State',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 742},
  {'rank': 25,
   'school': 'Minnesota',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 90},
  {'rank': 1,
   'school': 'USC',
   'conference': 'Pac-10',
   'firstPlaceVotes': 54,
   'points': 1540},
  {'rank': 9,
   'school': 'UCLA',
   'conference': 'Pac-10',
   'firstPlaceVotes': 0,
   'points': 1053},
  {'rank': 23,
   'school': 'California',
   'conference': 'Pac-10',
   'firstPlaceVotes': 0,
   'points': 175},
  {'rank': 16,
   'school': 'Oregon',
   'conference': 'Pac-10',
   'firstPlaceVotes': 0,
   'points': 588},
  {'rank': 20,
   'school': 'West Virginia',
   'conference': 'Big East',
   'firstPlaceVotes': 0,
   'points': 405},
  {'rank': 14,
   'school': 'Penn State',
   'conference': 'Big Ten',
   'firstPlaceVotes': 0,
   'points': 726},
  {'rank': 2,
   'school': 'Texas',
   'conference': 'Big 12',
   'firstPlaceVotes': 7,
   'points': 1492},
  {'rank': 8,
   'school': 'Texas Tech',
   'conference': 'Big 12',
   'firstPlaceVotes': 0,
   'points': 1079},
  {'rank': 21,
   'school': 'TCU',
   'conference': 'Mountain West',
   'firstPlaceVotes': 0,
   'points': 221},
  {'rank': 12,
   'school': 'Notre Dame',
   'conference': 'FBS Independents',
   'firstPlaceVotes': 0,
   'points': 846},
  {'rank': 4,
   'school': 'Georgia',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 1361},
  {'rank': 19,
   'school': 'Florida',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 450},
  {'rank': 18,
   'school': 'Tennessee',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 543},
  {'rank': 5,
   'school': 'Alabama',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 1255},
  {'rank': 15,
   'school': 'Auburn',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 655},
  {'rank': 7,
   'school': 'LSU',
   'conference': 'SEC',
   'firstPlaceVotes': 0,
   'points': 1154},
  {'rank': 10,
   'school': 'Florida State',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 934},
  {'rank': 11,
   'school': 'Boston College',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 859},
  {'rank': 3,
   'school': 'Virginia Tech',
   'conference': 'ACC',
   'firstPlaceVotes': 1,
   'points': 1428},
  {'rank': 6,
   'school': 'Miami',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 1218},
  {'rank': 24,
   'school': 'Virginia',
   'conference': 'ACC',
   'firstPlaceVotes': 0,
   'points': 120}]}

In [263]:
df_ranks = pd.DataFrame.from_records(r[0]['polls'][0]['ranks'])
df_ranks.head()

   rank          school conference  firstPlaceVotes  points
0    22  Michigan State    Big Ten                0     190
1    17       Wisconsin    Big Ten                0     553
2    13      Ohio State    Big Ten                0     742
3    25       Minnesota    Big Ten                0      90
4     1             USC     Pac-10               54    1540

In [264]:
df_all_ranks = []
for week_record in r.json():
    week = week_record['week']
    for poll in week_record['polls']:
        poll_name = poll['poll']
        df_ranks = pd.DataFrame.from_records(poll['ranks'])

{'season': 2005,
 'seasonType': 'regular',
 'week': 8,
 'polls': [{'poll': 'Coaches Poll',
   'ranks': [{'rank': 22,
     'school': 'Michigan State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 190},
    {'rank': 17,
     'school': 'Wisconsin',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 553},
    {'rank': 13,
     'school': 'Ohio State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 742},
    {'rank': 25,
     'school': 'Minnesota',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 90},
    {'rank': 1,
     'school': 'USC',
     'conference': 'Pac-10',
     'firstPlaceVotes': 54,
     'points': 1540},
    {'rank': 9,
     'school': 'UCLA',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 1053},
    {'rank': 23,
     'school': 'California',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 175},
    {'rank': 16,
     'school': 'Oregon',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 588},
    {'rank': 20,
     'school': 'West Virginia',
     'conference': 'Big East',
     'firstPlaceVotes': 0,
     'points': 405},
    {'rank': 14,
     'school': 'Penn State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 726},
    {'rank': 2,
     'school': 'Texas',
     'conference': 'Big 12',
     'firstPlaceVotes': 7,
     'points': 1492},
    {'rank': 8,
     'school': 'Texas Tech',
     'conference': 'Big 12',
     'firstPlaceVotes': 0,
     'points': 1079},
    {'rank': 21,
     'school': 'TCU',
     'conference': 'Mountain West',
     'firstPlaceVotes': 0,
     'points': 221},
    {'rank': 12,
     'school': 'Notre Dame',
     'conference': 'FBS Independents',
     'firstPlaceVotes': 0,
     'points': 846},
    {'rank': 4,
     'school': 'Georgia',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 1361},
    {'rank': 19,
     'school': 'Florida',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 450},
    {'rank': 18,
     'school': 'Tennessee',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 543},
    {'rank': 5,
     'school': 'Alabama',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 1255},
    {'rank': 15,
     'school': 'Auburn',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 655},
    {'rank': 7,
     'school': 'LSU',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 1154},
    {'rank': 10,
     'school': 'Florida State',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 934},
    {'rank': 11,
     'school': 'Boston College',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 859},
    {'rank': 3,
     'school': 'Virginia Tech',
     'conference': 'ACC',
     'firstPlaceVotes': 1,
     'points': 1428},
    {'rank': 6,
     'school': 'Miami',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 1218},
    {'rank': 24,
     'school': 'Virginia',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 120}]},
  {'poll': 'AP Top 25',
   'ranks': [{'rank': 22,
     'school': 'Michigan State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 19,
     'school': 'Wisconsin',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 14,
     'school': 'Ohio State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 1,
     'school': 'USC',
     'conference': 'Pac-10',
     'firstPlaceVotes': 57,
     'points': 0},
    {'rank': 8,
     'school': 'UCLA',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 25,
     'school': 'California',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 15,
     'school': 'Oregon',
     'conference': 'Pac-10',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 20,
     'school': 'West Virginia',
     'conference': 'Big East',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 12,
     'school': 'Penn State',
     'conference': 'Big Ten',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 2,
     'school': 'Texas',
     'conference': 'Big 12',
     'firstPlaceVotes': 8,
     'points': 0},
    {'rank': 10,
     'school': 'Texas Tech',
     'conference': 'Big 12',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 24,
     'school': 'Fresno State',
     'conference': 'Western Athletic',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 21,
     'school': 'TCU',
     'conference': 'Mountain West',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 9,
     'school': 'Notre Dame',
     'conference': 'FBS Independents',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 4,
     'school': 'Georgia',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 18,
     'school': 'Florida',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 17,
     'school': 'Tennessee',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 5,
     'school': 'Alabama',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 16,
     'school': 'Auburn',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 7,
     'school': 'LSU',
     'conference': 'SEC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 11,
     'school': 'Florida State',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 13,
     'school': 'Boston College',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 3,
     'school': 'Virginia Tech',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 6,
     'school': 'Miami',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0},
    {'rank': 23,
     'school': 'Virginia',
     'conference': 'ACC',
     'firstPlaceVotes': 0,
     'points': 0}]}]}

In [266]:
df_rankings = pd.read_csv(os.path.join(os.getcwd(), 'data', 'df_rankings.csv'))
df_rankings.head()

,conference,firstPlaceVotes,points,rank,school,poll,week,year
0,ACC,NaN,NaN,17,Clemson,AP Top 25,1,2000
1,Big Ten,NaN,NaN,25,Michigan State,AP Top 25,1,2000
2,Big Ten,NaN,NaN,21,Illinois,AP Top 25,1,2000
3,Big Ten,NaN,NaN,4,Wisconsin,AP Top 25,1,2000
4,Big Ten,NaN,NaN,6,Michigan,AP Top 25,1,2000